lib
bin
*.o

*.lo
*.la
.libs
.deps
Makefile
Makefile.in

autom4te.cache/
config.log
config.status
depcomp
libtool
missing

receiver
transmitter

doc/

*.mp4
*.yuv
*.yuv420p
*.uyvy
*.uyvy422
*.h264
*.sdp

*~
*.swp

.cproject
.project
